body {
    background-color: #A8D0E6;
}

.container {
    position: absolute;
    height: 100%;
    padding-top: 25%;
    background-color: #F76C6C;
    margin-left: 10px;
    width: 300px;
}

h2 {
    margin-left: 40px;
    color: #EDF5E1;
    background: none;
    top: 0%;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes letterSpread {
    from {letter-spacing: 5px;}
    to {letter-spacing: 6px;}
}

.sideBarbutton {
    color: #EDF5E1;
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sideBarbuttonSelected {
    color: #EDF5E1;
    background: none;
    text-decoration-line: underline;
    border: none;
    font-size: 20px;
    letter-spacing: 6px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sideBarbutton:hover {
    animation: letterSpread;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#outarea {
    position: absolute;
    left: 300px;
    text-align: center;
    top: 225px;
    background-image:url('geopic.jpg');
    background-image: initial;
}

iframe {
    border: none;
    margin-left: 50px;
}

h1 {
    color: #EDF5E1;
    background: none;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
}

#bodytext {
    color:  #EDF5E1;
    background: none;
    border-width: 10px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

