/* Text  */
@keyframes sidebarButtonHoverAnimation {
    from {
        letter-spacing: 5px; 
        margin-left: 0px;
    }
    to {
        letter-spacing: 6px;
        margin-left: 5px;
    }
}
@keyframes sidebarButtonIdleAnimation {
    from {
        letter-spacing: 6px;
        margin-left: 5px;
    }
    to {
        letter-spacing: 5px;
        margin-left: 0px;
    }
}

@keyframes letterSpacingAmbientStretch {
    0% {
        letter-spacing: 5px;
    }
    50% {
        letter-spacing: 5.5px;
    }
    100% {
        letter-spacing: 5px;
    }
}

/* Everything else */
body {
    background-color: #A8D0E6;
}

.container {
   display:grid;
}

.navbar {
    background-color: #F76C6C;
    text-align: left;
}

.snsHeader {
    color: white;
    background: none;
    text-align: left;
    margin-right: 2vmax;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sideBarbutton {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    animation: sidebarButtonIdleAnimation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.sideBarbuttonSelected {
    color: white;
    background: none;
    text-decoration-line: underline;
    border: none;
    font-size: 20px;
    letter-spacing: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: sidebarButtonHoverAnimation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.sideBarbutton:hover {
    animation: sidebarButtonHoverAnimation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.result {

}

#outarea {

}

iframe {
    border: none;
    width: 100vmax;
    height: 50vmax;
}

.bigHeader {
    color: white;
    background: none;
    font-weight: bold;
    border: none;
    text-align: center;
    padding-top: 1vmax;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: letterSpacingAmbientStretch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;;
}

hr {
    height: .3vmax;
    color: #F76C6C;
    background-color: #F76C6C;
    margin-top: 1vmax; 
    margin-bottom: 1vmax; 
    margin-left: 5vmax;
    margin-right: 5vmax;
    text-align: center;
}

#bodytext {
    color: white;
    background: none;
    text-align: center;
    font-size: 1.5em;
    margin-left: 5vmax;
    margin-right: 5vmax;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#links {
    color: white;
    background: none;
    font-size: 1.5em;
    margin-left: 36vmax;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
}

a:link {
    text-decoration: none;
}

