body {
    background-color: #A8D0E6;
}

.container {
    position: absolute;
    height: 100%;
    padding-top: 25%;
    background-color: #F76C6C;
    margin-left: 10px;
    width: 300px;
}

h2 {
    margin-left: 40px;
    color: #EDF5E1;
    background: none;
    top: 0%;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes sidebarButtonHoverAnimation {
    from {
        letter-spacing: 5px; 
        margin-left: 0px;
    }
    to {
        letter-spacing: 6px;
        margin-left: 5px;
    }
}
@keyframes sidebarButtonIdleAnimation {
    from {
        letter-spacing: 6px;
        margin-left: 5px;
    }
    to {
        letter-spacing: 5px;
        margin-left: 0px;
    }
}

@keyframes letterSpacingAmbientStretch {
    0% {
        letter-spacing: 5px;
    }
    50% {
        letter-spacing: 5.5px;
    }
    100% {
        letter-spacing: 5px;
    }
}

.sideBarbutton {
    color: #EDF5E1;
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: sidebarButtonIdleAnimation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.sideBarbuttonSelected {
    color: #EDF5E1;
    background: none;
    text-decoration-line: underline;
    border: none;
    font-size: 20px;
    letter-spacing: 6px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    animation: sidebarButtonHoverAnimation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.sideBarbutton:hover {
    animation: sidebarButtonHoverAnimation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    padding-left: 30px;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#outarea {
    position: absolute;
    left: 300px;
    text-align: center;
    top: 225px;
    background-image:url('geopic.jpg');
    background-image: initial;
}

iframe {
    border: none;
    margin-left: 50px;
}

.snsHeader {
    color: #EDF5E1;
    background: none;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: letterSpacingAmbientStretch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#bodytext {
    color:  #EDF5E1;
    background: none;
    border-width: 10px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

